body {
    background-image: url("../img/geisel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
}

div.index-nav{
    height: 40px;
}

.home{
    color: white;
    float: left;    
}
.nav-pills {
    float: right;
}

.dropdown > a {
    color: white;
}

.dropdown > ul {
    background-color: transparent;
    border: none;
}
.nav >li > a:hover{
    background-color:lightblue;

}
.dropdown-menu a {
    text-align: center;
    text-decoration-color: white;
}

.link {
    color:white;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: lightblue;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

